{% load static %}
{# in a row #}

<div class="post_title">
    <a href="#"><h2 class="mb-0 text-center">{{ post.title }}</h2></a>
</div>
<div class="w-100">
    <hr class="my-1 "/>
</div>
<div class="row">

    <div class="text-center app_author_wrapper">
        <div class="app_author_info">
            <a href="">
                <div class="app_avatar_image"
                     style="/*noinspection CssUnknownTarget*/background-image:url('{{post.created_by.profile.thumb_url}}')"
                     alt="{{ post.created_by.username }}">
                </div>
                <!--<img src="{{ post.created_by.profile.thumb_url }}" class="w-100 app_author_image"/>-->
                <div class="text-center">
                    <span class="app_username">{{ post.created_by.username }}</span><br/>
                    <span class="app_poster_rank_icon"><i class="fas fa-chess-queen"></i></span>
                    <small>Posts:</small>
                    <small> {{ post.created_by.posts.count }}</small>
                </div>
            </a>
        </div>
    </div>
    <div class="app_post_column">
        <div class="card border-0 post_details">
            <div class="card-body pt-0">
                <div class="card-title ">
                    <span class="text-info">
                        <i class="fas fa-bolt"></i> <span>Last updated: {{ post.created_at }}</span>
                    </span>
                    {% if post.created_by == user %}
                    <div class="ctl_edit_post">
                        <a class="label-pill btn_edit_post"
                           href="{% url 'edit_post' post.pk %}"
                           role="button"><i class="fas fa-pen-square"></i> Edit</a>
                    </div>
                    {% endif %}
                </div>
                <div class="app_post_excerpt row mb-3">
                    <div class="col-12">{{ post.message }}</div>
                </div>

            </div>
        </div>
    </div>
</div>