{% load static %}
<form method="post" class="form_with_tags mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <input id="tags" name="tags" type="hidden" />
    <div class="form_group">
        <label for="tags_input" >Tags:</label>
        <input id='tags_input' data-current_tags="{{ current_tags }}" class="tags_input" type="text" />
    </div>

    <button type="submit" class="btn btn-primary btn_save_changes">Save changes</button>
    <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Cancel</a>
</form>
