{% load static %}

<script src="{% static 'js/tags.js' %}"></script>
<script>
    var tags;
    loadJSON('{% url "tags" %}', function (json) {
        elt = $('#tags_input');
        tags = json.items;
        current_tags_json = elt.attr('data-current_tags');
        console.log('current_tags: ', current_tags_json);
        current_tags = []
        try {
            if (current_tags_json) {
                current_tags = JSON.parse(current_tags_json);
            }
        }
        catch (e) {
            console.log("failed to parse json data", e)
        }

        setup_tags_input(elt, current_tags, tags);
        var confirmed = null;
        var form;
        $('form.form_with_tags').submit(function (e) {
            if (form) {
                console.log("something wrong");
                return;
            }
            // debugger;
            // if (confirmed !== null) {
            //     console.log('real submit');
            //     _c = confirmed
            //     form=null;
            //     confirmed=null;
            //     return _c;
            // }
            form = e.target;
            console.log('tags:', tags);
            items = elt.tagsinput('items');
            confirm_items(tags, items, $('#modal_dialog'), function (excess) {
                if (excess && excess.length) {
                    $('#new_tags').text(excess);
                }
            }, function (btn_id) {
                console.log('btn_id:' + btn_id);
                confirmed = (btn_id === 'yes');
                console.log('triggering submit...');
                $('form.form_with_tags #tags').val(JSON.stringify(items));
                console.log('set input #tags to:', JSON.stringify(items));
                form.submit();
                form = null;
            });

            return false;
        })
    });
</script>
