{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" class="rel">
    <link rel="stylesheet" href="{% static 'css/app.css' %}" class="rel">
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
{% block body %}
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-lable="toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <form class="form-inline ml-auto">
                <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Log in</a>
            </form>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>