{% extends 'base.html' %}
{% load static %}

{% block title %}
    Edit post
{% endblock %}
{% block content %}
<form method="post" class="form_with_tags mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <input id="tags" name="tags" type="hidden" />
    <div class="form_group">
        <label for="tags_input" >Tags:</label>
        <input id='tags_input' class="tags_input" type="text" />
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>
    <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Cancel</a>
</form>
{% endblock %}
{% block mdlg_body %}
<div>You are going to add new tags: <span id="new_tags"></span> Are you sure? </div>
{% endblock %}
{% block javascript %}

<script src="{% static 'js/tags.js' %}"></script>
<script src="{% static 'js/testtags2l.js' %}"></script>
<script>
    var tags;
    loadJSON('{% url "tags" %}', function (json) {
        tags = json.items;
        setup_tags_input($('#tags_input'),tags);
        var confirmed = null;
        var form;
        $('form.form_with_tags').submit(function (e) {
            if (confirmed !== null) {
                console.log('real submit');
                form=null;
                return confirmed
            }
            form=e.target;
            console.log(form);
            items = $('#tags_input').tagsinput('items');
            confirm_items(tags, items, $('#modal_dialog'), function (excess) {
                if (excess && excess.length) {
                    $('#new_tags').text(excess);
                }
            }, function (btn_id) {
                console.log('btn_id:' + btn_id);
                confirmed = (btn_id === 'yes');
                console.log('triggering submit...');
                $('form.form_with_tags #tags').val(JSON.stringify(items));
                console.log('set input #tags to:', JSON.stringify(items));
                $(form).submit();
            });

            return false;
        })
    });
</script>

<script>
    setTimeout(function() {
        0 && setup_tags_input_test($('#tags_input2'));
    }, 0);

</script>

{% endblock %}