{% extends 'base.html' %}
{% load static %}

{% block title %}
New post
{% endblock %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="app_panel_heading mb-2">
            <span class="just_left">New post</span>
        </div>

        <form method="post" class="form_with_tags mb-4" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <input id="tags" name="tags" type="hidden"/>
            <div class="form_group">
                <label for="tags_input">Tags:</label>
                <input id='tags_input' data-current_tags="{{ current_tags }}" class="tags_input" type="text"/>
            </div>

            <button type="submit" class="btn btn-success">Save new post</button>
            <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}

{% block mdlg_body %}
<div>You are going to add new tags: <span id="new_tags"></span> Are you sure?</div>
{% endblock %}

{% block javascript %}
    <script> var simplemde = new SimpleMDE(); </script>
    {% include 'includes/tags_js.html' %}
{% endblock %}
