{% extends 'base.html' %}
{% load static %}

{% block title %}
Post details
{% endblock %}
{% block content %}
<div id="{{ post.pk }}" class="card post_card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                {% include 'includes/post_detail.html' %}
            </div>
        </div>
    </div>

</div>
<div>
    <div class="text-right"><strong class="px-2 mt-2 text-muted">{{ post.post_comments.count }} Comments:</strong></div>
    {% for comment in post.post_comments.all %}
    <div class="card mb-1">
        <div class="app_comment card-body p-0">
            <div class="px-2  app_comment_title">
                <span class="comment_author"><a href="#"><strong class="px-1">{{ comment.created_by.username }}</strong></a></span>
                {% if comment.created_by == user %}
                <a href="{% url 'remove_comment' post.pk comment.pk %}" class="comment_control label-pill text-danger">
                    <i class="fa fa-window-close"></i> </a>
                {% endif %}
                <span class="comment_date"><i class="fa fa-pencil-square"></i> at {{ comment.created_at }}</span>
            </div>
            <div class="p-2 app_comment_body">
                {{ comment.message|linebreaks }}
            </div>

        </div>
    </div>
    {% endfor %}
    <form method="post" action="{% url 'post_details' post.pk %}" class="mt-4" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' with form=comment_form %}
        <button name="{{ comment_form.prefix }}_submit" type="submit" class="btn btn-success">Comment
        </button>
    </form>


</div>

{% endblock %}

{% block javascript %}
<script>
    $(function(){
        let title =$('.app_comment_title');
        title.hover(function() {
            let ctls = $(this).find('.comment_control');
            ctls.animate({opacity: 1.0}, 100);
        }, function(){
            let ctls = $(this).find('.comment_control')
            ctls.animate({opacity: 0.0}, 100);
        })
    });
</script>
{% endblock %}

