{% extends 'base.html' %}
{% load static %}

{% block title %}
Post details
{% endblock %}
{% block content %}
<div id="{{ post.pk }}" class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                {% include 'includes/post_detail.html' %}
            </div>
        </div>
    </div>
    {% if post.created_by == user %}
    <div class="row">
        <div class="col-12 mt-3">
            <a class="btn btn-primary" href="{% url 'edit_post' post.pk %}" role="button">Edit</a>
        </div>
    </div>
    {% endif %}
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <strong>Comments:</strong>

                {% for comment in post.post_comments.all %}
                <div class="card">
                    <div class="card-body p-0">
                        <div class="p-2">
                            {{ comment.message }}
                        </div>
                        <span class="text-muted pl-2">
                                    <a href="#">{{ comment.created_by.username }}</a>
                                    <i class="fa fa-pencil-square"></i> at {{ comment.created_at }}
                    </span>

                        {% if comment.created_by == user %}
                        <div class="mt-3">
                            <a class="btn btn-primary"
                               href="{% url 'remove_comment' post.pk comment.pk %}" role="button">Remove</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <form method="post" action="{% url 'post_details' post.pk %}" class="mt-4" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' with form=comment_form %}
                    <button name="{{ comment_form.prefix }}_submit" type="submit" class="btn btn-success">Comment
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}