{% extends 'base.html' %}
{% load static %}

{% block title %}
Post details
{% endblock %}
{% block content %}
<div id="{{ post.pk }}" class="card post_card">
    <div class="card-body">
        <div class="app_panel_heading mb-2">
            <span class="just_left"> Details</span>

        </div>
        <div class="row">
            <div class="col-12">
                {% include 'includes/post_detail.html' %}
            </div>
        </div>
        <div>
            <div class="comment_count_container text-right">
                <i class="comment_refresh_spinner fa fa-spinner"></i>
                <i class="comment_refresh_failed fa fa-times"></i>
                <i class="comment_refresh_succeeded fa fa-check"></i>
                <a id="refresh_comments" href='#' class="px-2 mt-2 text-muted">
                    <strong><span class="comment_count">{{ post.post_comments.count }}</span> Comments:</strong>
                </a>
            </div>
            {% for comment in post.post_comments.all %}
            <div class="card mb-1">
                <div class="app_comment card-body p-0">
                    <div class="px-2  app_comment_title">
                        <span class="comment_author"><a href="#"><strong
                                class="px-1">{{ comment.created_by.username }}</strong></a></span>
                        {% if comment.created_by == user %}
                        <a href="{% url 'remove_comment' post.pk comment.pk %}"
                           class="comment_control label-pill text-danger">
                            <i class="fa fa-window-close"></i> </a>
                        {% endif %}
                        <span class="comment_date"><i
                                class="fa fa-pencil-square"></i> at {{ comment.created_at }}</span>
                    </div>
                    <div class="p-2 app_comment_body">
                        {{ comment.message|linebreaks }}
                    </div>

                </div>
            </div>
            {% endfor %}
            <form method="post" action="{% url 'post_details' post.pk %}" class="mt-4" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' with form=comment_form %}
                <button name="{{ comment_form.prefix }}_submit" type="submit" class="btn btn-success">Comment
                </button>
            </form>


        </div>
    </div>

</div>


{% endblock %}

{% block javascript %}
<script>
    $(function () {
        let title = $('.app_comment_title');
        title.hover(function () {
            let ctls = $(this).find('.comment_control');
            ctls.animate({opacity: 1.0}, 100);
        }, function () {
            let ctls = $(this).find('.comment_control')
            ctls.animate({opacity: 0.0}, 100);
        })
    });
</script>
{% endblock %}

{% block refresh_comments %}
<script>
    $(document).ready(function () {
        $('a#refresh_comments').click(function (e) {
            e.preventDefault();
            $('.comment_refresh_spinner').show();
            let id = 'new';
            let ajax_timeout = 2 * 1000;
            let total_timeout = Date.now() + 10*1000;
            let url = '{% url "refresh_comments" post.pk %}';
            let status;
            worker();
            function worker() {
                $.ajax({
                    dataType: 'json'
                    , url: url + '?comments_refresh_id=' + id
                    , data: {}
                    , timeout: ajax_timeout
                    , success: function (data) {
                        console.log("ajax data: ", data);
                        if (data.comments_refresh_id) {
                            id = data.comments_refresh_id;
                        }
                        else if (data.count!=null) {
                            $('.comment_count').text(data.count);
                            status = 'success';
                        }
                    }
                    , error: function (e) {
                        console.log("error:", e)
                    }
                    , complete: function (xhr) {
                        if (status === 'success' || Date.now() > total_timeout) {
                            if (id !== 'new') {
                                $.ajax(url + '?comments_refresh_forget=' + id);
                            }
                            if (status==='success') {
                                $('.comment_refresh_spinner').hide();
                                $('.comment_refresh_failed').hide();
                                $('.comment_refresh_succeeded').show().fadeOut(1000);
                            }
                            else {
                                $('.comment_refresh_spinner').hide();
                                $('.comment_refresh_succeeded').hide();
                                $('.comment_refresh_failed').show().fadeOut(1000);
                            }
                        }
                        else {
                            setTimeout(worker, 2000)
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock %}
