{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="app_panel_heading mb-2">
            <span class="just_left">{% firstof heading 'Posts' %}</span>
            <a class="label-pill btn_new_post just_right"
               href="{% url 'new_post' %}"
               role="button"><i class="fas fa-plus-square"></i> Add</a>

        </div>
        {% for post in posts reversed %}
        <div id="{{ post.pk }}" class="card mb-2 border-0">
            <div class="card-body p-0">

                <div class="row">
                    <div class="col-12">
                        {% include 'includes/post_detail.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}