@charset "utf-8";

/* [debug]:0 */

$primary_bg_color: #f1f1f1;
$non_content_bg_color: #d5ffd7;
$sidebar_color: $non_content_bg_color;
$content_color: #fff;
$comment_bg_color: #f8f8f8;
$author_info_bg_color: $non_content_bg_color;
$post_comment_bg_color: $non_content_bg_color;
$post_title_color: #000;
$post_title_bg_color: #f4d59e;
$author_link_color: #d20000;
$dropdown_color: #ddd;
$inactive_color: #ebebeb;

@mixin grad_rep($from, $to) {
  background-image: repeating-linear-gradient(160deg, $from, $to 100px, $from 200px)
}

@mixin steel_rep {
  @include grad_rep(#ebebeb, #c2c2c2)
}

$debug: false;
@mixin debug {
  @if $debug {
    & {
      outline: 1px #ff0000 dashed !important;
    }
  }
}

.app_navbar_main {
  //background-image: linear-gradient(160deg, #ffffff 0%, rgb(1, 223, 230) 100%);
  @include steel_rep;
  box-shadow: 0 0 2px #0b2e13;
  li {
    font-weight: bold;
  }
  .navbar-brand {
    font-family: sans-serif;
    text-shadow: 2px 2px 5px #eeeeff;
    font-size: 24px;
    font-weight: bolder;
    //color: #ffcd02;
  }
  .dropdown-menu {
    @include steel_rep;
  }
}

.app_navbar_main .nav-item {
  font-size: 20px;
}

.app_navbar_main .main_nav_link {
  padding: 0;
}

.comment_count_container {
  .comment_refresh_spinner {
    display: none;
  }
  .comment_refresh_failed {
    display: none;
    color: red;
  }
  .comment_refresh_succeeded {
    display: none;
    color: limegreen;
  }
}

.app_navbar_main img {
  max-width: 3em;
  max-height: 3em;
  padding: 0;
}

.card {
  background-color: $content_color;
}

.app_sidebar > .card {
  background-color: $sidebar_color;
}

.app_post_item .post_title {
  border-bottom: 1px #00b3ee solid;
  color: #000000;
  padding: 5px 0px 5px 0px;
  border-radius: 0px;
  text-align: left;
}

.app_panel_heading {
  //background-image: linear-gradient(160deg, #ffffff 0%, rgb(1, 223, 230) 100%);
  @include steel_rep;
  box-shadow: 1px 1px 0px #0b2e13;
  text-shadow: 1px 1px 0px #777;
  color: #ffcd02 !important;
  padding: 5px 10px 5px 10px;
  font-size: 1.5em;
  font-weight: bold;

  height: 1.5em;

  display: flex;
  width: 100%;
  align-items: center;
  .just_right {
    text-shadow: initial;
  }
  .just_left {
    margin-top: -2px;
    //text-shadow: 1px 1px 0px #777;
    //line-height: 40px;
    //display:inline-flex;
    //align-items:center;
    //min-height:100px;
    margin-right: auto;
    flex: 0 0 auto;
    //justify-self: left;

  }
  .just_right {
    flex: 0 0 auto;
    justify-self: right;
  }
}

.tag_container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  border-color: black;
  border-width: 1px;
  border-left: 1px;
  border-right: 1px;
  min-height: 2em;
  align-items: center;
  span {
    margin: 2px;
  }
}

.app_content {
  margin-top: 60px;
}

.app_body {
  background-color: $primary_bg_color
}

.app_sidebar {
  background-color: $primary_bg_color;
  .main_image img {
    max-width: 100%;
  }
}

.app_heading_info {
  display: flex;
  align-items: center;
  background-color: $primary_bg_color;

  height: 40px;

}

.post_columns {
  padding-left: 0px;
  .post_card .card-body {
    //padding-top: 3px;
  }
}

.app_username {
  display: inline-block;
  margin: 0 15px 0 5px;
  color: #000000;
  font-weight: bolder;
  font-size: larger;
  text-decoration: underline;
}

.app_author_image {
  max-width: 100px;
  background-color: #e3fdff;
}

.app_avatar_image {
  //background-image: url(' /static/ ');
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.app_author_wrapper {
  padding-left: 15px;
  flex: 0 0;
  .app_author_info {
    padding: 15px;

    background-color: $author_info_bg_color;
  }
}

.app_post_column {
  flex: 1 0;
  .post_details {
    .card-title {
      display: flex;
      //width:100%;
      .ctl_edit_post {
        margin-left: auto;
        .btn_edit_post {
          padding: 3px;
          font-weight: bold;
        }
        .btn_new_post {
          padding: 3px;
          font-weight: bold;
        }
      }
    }
  }
}

.app_poster_rank_icon {
  font-size: larger;
  color: #dd4444;
}

.app_post_excerpt {
  min-height: 100px;
}

/*.heading_info:after {*/
/*content: ' ';*/
/*display: block;*/
/*clear: both;*/
/*height: 0;*/
/*}*/

.app_heading_info form {
  display: inline-block;
  margin-left: auto;
}

.app_heading_info input[type=submit],
.app_heading_info button {
  height: 100%;
  /*display: inline-block;*/
  /*margin-left: auto;*/
}

.app_heading_info h5 {
  display: inline-block;
  margin-right: auto;
}

table.app_profile_table td:nth-of-type(1) {
  width: 20%;
}

table.app_profile_table td:nth-of-type(2) {
  width: 80%;
}

.app_profile_image img {
  max-width: 100%;
  min-width: 120px;
  max-height: 100%;
}

.app_comment_body {
  background-color: $comment_bg_color;;
}

.app_comment {
  .app_comment_title {
    display: flex;
    align-items: center;
    .comment_author, .comment_date {
      line-height: 30px;
      vertical-align: middle;
    }
    .comment_author {
      margin-right: auto;
      a {
        color: $author_link_color;
      }
    }
  }
}

.app_comment_title {
  background-color: $post_comment_bg_color;
  .comment_control {
    opacity: 0.0;
  }
}

.post_title {
  h2 {
    vertical-align: middle;
    line-height: 50px;
    color: $post_title_color;
    background-color: $post_title_bg_color;
    padding-top: 0px;
  }
}

//blockquote {
//  margin-left: 40px;
//  background-color: #9fcdff;
//}

blockquote {
  //margin: 1em 0em 2em 0em;
  border-left: 1px solid #999;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #9fcdff;
  border-width: 0 0 0 5px;
  border-color: #0000ff;
  p {
    padding: 0.1em;
    margin: 0em;
  }
}

//blockquote:before {
//  content: open-quote;
//  font-size: 6em;
//  line-height: 0px;
//  margin: 0px 5px 0px -40px;
//  vertical-align: bottom;
//  position: relative;
//  left: -15px;
//}

//blockquote p:first-letter {
//  margin: .2em .3em .1em 0;
//  font-size: 220%;
//}

//blockquote:before {
//  content: open-quote;
//  font-size: 6em;
//  line-height: 0px;
//  margin: 0px 5px 0px -40px;
//  vertical-align: bottom;
//  position: relative;
//  float: left;
//  top: .4em;
//  left: -.15 em;
//}

.form_with_tags {
  label {
    font-weight: bold;
    font-size: 1.2em;
  }
}

/*.form_with_tags .form-group {*/
/*width: 100%;*/
/*}*/

/*input.tags_input {*/
/*width: 100%;*/
/*}*/

/*.form_group_tags {*/
/*width: 500px;*/
/*}*/

/*.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {*/
/*width: 100%;*/
/*}*/
;